@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
/* 타이틀
font-family: 'Gamja Flower', cursive;   */

/* 텍스트
font-family: 'Cute Font', cursive;   */

/* 전체설정 */
* {margin: 0; padding: 0;}
a {text-decoration: none;
    color: #fff;
    font-family: 'Gamja Flower'}
img {border: none;
    vertical-align: bottom;}
ul,ol {list-style: none;}
h2 {font-family: 'Gamja Flower'}
p {font-family: 'Cute Font', cursive;}
li {font-family: 'Cute Font', cursive;}


/* 기본설정 */
header {width: 100%;
    height: 200px;
    /* background-color: antiquewhite; */}
nav {width: 100%;
    height: 80px;
    /* background-color: burlywood; */ }
#main {width: 100%;
    height: 680px;
    /* background-color: cadetblue; */ }
#donate {width: 100%;
    height: 180px;
    /* background-color: cornflowerblue; */ }
#promise {width: 100%;
    height: 1250px;
    /* background-color: darkgoldenrod; */ }
#notice {width: 100%;
    height: 920px;
    background-color: darkolivegreen;}
#name {width: 100%;
    height: 2420px;
    background-color: chocolate;}
#window {width: 100%;
    height: 2000px;
    background-color: darksalmon;}
#footer {width: 100%;
    height: 290px;
    background-color: darkgray;}
.wrap {height: 100%;
    background-color: rgba(0, 0, 0, 0.3);}




/* header 설정 */
header {}
header .wrap {position: relative;}
header .logo {
    position: absolute;
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: 450px;
    }
.logo img {width: 440px;
    height: 130px;}
header .util {position: absolute;
    top: 5px;
    right: 0;
    width: 260px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.util a {display: block;
    margin: 0 auto;}
.util img {width: 40px;
    height: 40px;}
header p {position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 16pt;}


/* nav 설정 */
nav {background-color: #A3BFBA;}
nav .wrap {}
.gnb {width: 100%;
    height: 100px;
    display: flex;
    background-color: #A3BFBA ;}
.gnb li {display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 25pt;
    color: #fff;}
    .gnb li a:hover {color: #3d3030;
        line-height: 1.5;
        border-bottom: #3d3030 solid 1px;
        font-weight: bold;
        /* text-decoration: underline; */
        }



/* main 설정 */
#main {}
#main .wrap {}

.slide {width: 100%;
    height: 680px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;}
.slide ul {display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;}
.slide li {width: 100%;
    height: 100%;
    min-width: 180px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        }
        .slide li:nth-child(1) {background-image: url(../images/main1.jpg);
        left: 0;
        z-index: 111;}
        .slide li:nth-child(2) {background-image: url(../images/main2.jpg);}
        .slide li:nth-child(3) {background-image: url(../images/main3.jpg);}

.btn {position: absolute;    
        left: 50%;
        top:890px;
        z-index: 999;
        cursor: pointer;}
.btn ul { list-style: none;
            display: flex;
        }
.btn ul li {background-image: url(../images/btnVisual.png);
            background-position:0 -16px;
            width: 14px;
            height: 15px;
            margin: 0 10px;}
.btn ul li.on {background-position:0 0px;}



/* donate 설정 */
#donate {}
#donate .wrap {background-color: #F2F2F0;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;}
.dona {background-color: #d1d996;
    border-radius: 20px;
    width: 210px;
    height: 80px;}
.dona h2 {text-align: center;
    line-height: 80px;
    font-size: 25pt;
    color: #3d3030;}

.heart {background-color: #d1d996;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    position: relative;
}
.heart a {display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    }
.heart a img {width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.heart a p {text-align: center;
    font-size: 16pt;}


.calen {background-color: #d1d996;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    position: relative;
}
.calen a {display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    }
.calen a img {width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.calen a p {text-align: center;
    font-size: 16pt;}


.card {background-color: #d1d996;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    position: relative;
}
.card a {display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    }
.card a img {width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.card a p {text-align: center;
    font-size: 16pt;}




/* promise 설정 */
#promise {}
#promise .wrap {position: relative;}
.circle {position: relative;
        left: -20%;
        top: 0;
        width: 510px;
        height: 165px;
        z-index: 1;}
.circle h2 {position:absolute;
        color: #fff;
        font-size: 25pt;
        top: 105%;
        left: 60%;
        z-index: 11;}
.circle img {position: absolute;
        width: 510px;}

.prom {position: absolute;
        
        /* box-shadow: ; */
        z-index: 2;
        top: 170px;
        width: 1440px;
        height: auto;
        display: block;
        justify-content: center;
        }
        .prom::after {content: "";
            display: block;
            clear: both;
        }

/* <i class="fa-solid fa-heart"></i>  꽉찬하트 */
.prom li {width: 340px;
        height: 390px;
        background-color: #F2F2F0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: left;
        margin-top: 60px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgb(63, 62, 62);   
        }
        .prom li:nth-child(1) {margin-left: 155px;}
        .prom li:nth-child(2) {margin-left: 55px;}
        .prom li:nth-child(3) {margin-left: 55px;}
        .prom li:nth-child(4) {margin-left: 150px;}
        .prom li:nth-child(5) {margin-left: 55px;}
        .prom li:nth-child(6) {margin-left: 55px;}

.prom li a {width: 305px;
        height: 250px;
        margin-top: -15px;
        }
.prom li a img {width: 305px;
        height: 270px;
        }

.prom li div {display: flex;
        margin-top: 25px;
        margin-left: -180px;
}
.prom li div i {}
.prom li div p {margin-right: 30px;
        margin-left: 5px;
        font-size: 16pt;
}
.prom li>p {color: #3d3030;
        font-size: 16pt;
        justify-content: left;
}

.more {background-color: #d1d996;
    border-radius: 10px;
    width: 55px;
    height: 30px;
    position: absolute;
    right: 160px;
    top: 12%;
    font-size: 16pt;
    text-align: center;
    }
.more a {color: #3d3030;
    width: 100%;
    height: 100%;
}




/* notice 설정 */
#notice {}
#notice .wrap {}

.tab_box {width: 1100px;
        height: 780px;
        position: relative;}
.titleBox {}
.titleBox ul {display: flex;}
.titleBox li {width: 160px;
    height: 130px;
    background-color: #d1d996;
    margin: 0 3px;
    font-size: 25pt;
    border-radius: 2px;
    text-align: center;
    margin-top: 30px;
    }
    .titleBox .on {margin-top: 0;}
    .titleBox .on a {color: #3d3030;
            display: block;
            width: 100%;
            height: 100%;
            margin-top: 80px;
            font-weight: bold;
            z-index: 3;}

.txtBox {width: 1110px;
            height: 640px;
            background-color: #F2F2F0;}
.notice {}
.notice ul {}
.notice li {}
.oncast {}
.oncast ul {}
.oncast li {}
.video {}
.video ul {}
.video li {}








/* ------------------------------------------미디어쿼리구간------------------------------------------- */
/* 1450px이상일때 */
@media (min-width: 1450px) {

    .wrap {width: 1440px;
        margin: 0 auto;}
}
